@model FoodPlanner.Models.MealPlan

@{
    ViewData["Title"] = "Ændre";
}

<h1>Ændre</h1>

<h4>MealPlan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MealPlanID" />
            <div class="form-group">
                <label asp-for="RecipeID" class="control-label">Navn</label>
                <select asp-for="RecipeID" class ="form-control" asp-items="ViewBag.RecipeID">
                    <option>Vælg en opskrift</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label">Dato</label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Purchased" class="control-label">Indkøbt</label>
                <select asp-for="Purchased" class="form-control" asp-items="ViewBag.Purchased">
                </select>
                <span asp-validation-for="Purchased" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Gem" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Tilbage til oversigt</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
